body {
  background-color: $negro;
}

.contenedor-estetica {
  @include tablet {
    height: 100vh;
    @include grid(2, $separacion / 2);
  }

  .imagen {
    height: 30rem;
    background-image: url(../img/1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include tablet {
      height: auto;
    }
  }
}

.app {
  padding-top: $separacion / 2;
}
